<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BoardCommentMapper">
	
	<!-- 특정 게시글의 댓글 목록 -->
	<select id="listByBoardNo" resultType="com.project.domain.BoardComment">
    	SELECT comment_no, board_no, commenter, content, reg_date
    	FROM BOARD_COMMENT
    	WHERE BOARD_NO = #{boardNo}
    	ORDER BY COMMENT_NO ASC
 	</select>
	
	<!-- 댓글 등록 처리 -->
	<insert id="register">
		INSERT INTO BOARD_COMMENT(comment_no, board_no, commenter, content, reg_date)
		VALUES(BOARD_COMMENT_SEQ.NEXTVAL, #{boardNo} ,#{commenter}, #{content}, SYSDATE)
	</insert>

	<!-- 댓글 수정 처리 -->
	<update id="modify">
		UPDATE BOARD_COMMENT
		SET content =#{content}
		WHERE comment_no = #{commentNo}
		AND commenter = #{commenter}
	</update>

	<!-- 댓글 삭제 처리(작성자만) -->
	<delete id="remove">
		DELETE FROM BOARD_COMMENT
		WHERE comment_no = #{commentNo} 
		AND commenter = #{commenter}
	</delete>
	
	<!-- 댓글 삭제 처리 (관리자: 작성자 조건 없음) -->
	<delete id="removeAdmin">
  		DELETE FROM BOARD_COMMENT
 		WHERE comment_no = #{commentNo}
	</delete>

</mapper>






